html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

#write div, #write span, #write applet, #write object, #write iframe,
#write h1, #write h2, #write h3, #write h4, #write h5, #write h6, #write p, #write blockquote, #write pre,
#write a, #write abbr, #write acronym, #write address, #write big, #write cite, #write code,
#write del, #write dfn, #write em, #write img, #write ins, #write kbd, #write q, #write s, #write samp,
#write small, #write strike, #write strong, #write sub, #write sup, #write tt, #write var,
#write b, #write u, #write i, #write center,
#write dl, #write dt, #write dd, #write ol, #write ul, #write li,
#write fieldset, #write form, #write label, #write legend,
#write table, #write caption, #write tbody, #write tfoot, #write thead, #write tr, #write th, #write td,
#write article, #write aside, #write canvas, #write details, #write embed,
#write figure, #write figcaption, #write footer, #write header, #write hgroup,
#write menu, #write nav, #write output, #write ruby, #write section, #write summary,
#write time, #write mark, #write audio, #write video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

#write article, #write aside, #write details, #write figcaption, #write figure,
#write footer, #write header, #write hgroup, #write menu, #write nav, #write section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: center; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle !important; }

* h1::after {
  border: none; }

html, body {
  width: 100%;
  height: 100%; }

img {
  width: 100%; }
