:root {
  --font-system: -apple-system, BlinkMacSystemFont, PingFang SC, "Apple Color Emoji", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;

  --font-article: "Times New Roman", Times, serif;
}

$res-mobile: 800px;

html {
  -webkit-font-smoothing: antialiased;
  color: var(--textColor-main);
  font-family: var(--font-system);
  font-size: 16px;

  @media only screen and (max-width: $res-mobile) {
    // font-size: 14px;
  }
}

article, {
  font-family: var(--font-article);
}

p {
  a {
    color: var(--b-color);
  }
}

@mixin fontSetArticle {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6, {
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-top: 1em;

    a {
      padding-top: 5rem;
      margin-top: -5rem;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-top: 2.5em;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
    color: var(--textColor-secondary)
  }

  p {
    line-height: 1.5;
    margin: 0.5em 0;
  }

  .mathjax-block {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin: 1em;
  }
}









//
