:root {
  --font-system: -apple-system, BlinkMacSystemFont, PingFang SC, "Apple Color Emoji", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;

  --font-article: "Times New Roman", Times, serif;
}

$res-mobile: 800px;

html {
  -webkit-font-smoothing: antialiased;
  color: var(--textColor-main);
  font-family: var(--font-system);

  @media only screen and (max-width: $res-mobile) {
    // font-size: 14px;
  }
}

article, #write, {
  font-family: var(--font-article);
}

p {
  a {
    color: var(--b-color);
  }
}









//
