html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: center; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle !important; }

* h1::after {
  border: none; }

html, body {
  width: 100%;
  height: 100%; }

img {
  width: 100%; }

:root {
  --b-color: #1e81b0;
  --textColor-main: rgba(0, 0, 0, 0.88);
  --textColor-secondary: rgba(0, 0, 0, 0.44);
  --color-bg: white;
  --color-bg2: #fafafa;
  --color-bg-glass: rgba(250, 250, 250, 0.8);
  --color-border: rgba(0, 0, 0, 0.08);
  --color-border2: rgba(0, 0, 0, 0.04);
  --res-mobile: 600px; }

:root {
  --font-system: -apple-system, BlinkMacSystemFont, PingFang SC, "Apple Color Emoji", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
  --font-article: "Times New Roman", Times, serif; }

html {
  -webkit-font-smoothing: antialiased;
  color: var(--textColor-main);
  font-family: var(--font-system);
  font-size: 16px; }

article {
  font-family: var(--font-article); }

p a {
  color: var(--b-color); }

nav#topNav {
  position: fixed;
  height: 48px;
  width: 100%;
  background-color: var(--color-bg);
  box-shadow: 0 1px 4px var(--color-border2);
  top: 0;
  left: 0; }

.fakePDF {
  background-color: #fafafa; }
  .fakePDF.zh article#mainArticle h1, .fakePDF.zh article#mainArticle h2, .fakePDF.zh article#mainArticle h3, .fakePDF.zh article#mainArticle h4, .fakePDF.zh article#mainArticle h5, .fakePDF.zh article#mainArticle h6, .fakePDF.zh article#mainArticle strong {
    font-style: normal;
    font-family: Kai;
    font-weight: normal; }
  .fakePDF article#mainArticle {
    background-color: white;
    max-width: 50rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    box-shadow: 1px 1px 4px var(--color-border2), 2px 2px 12px var(--color-border2); }
    .fakePDF article#mainArticle h1, .fakePDF article#mainArticle h2, .fakePDF article#mainArticle h3, .fakePDF article#mainArticle h4, .fakePDF article#mainArticle h5, .fakePDF article#mainArticle h6 {
      font-weight: bold; }
    .fakePDF article#mainArticle h1, .fakePDF article#mainArticle h2, .fakePDF article#mainArticle h3, .fakePDF article#mainArticle h4, .fakePDF article#mainArticle h5, .fakePDF article#mainArticle h6 {
      line-height: 1.5;
      margin-bottom: 0.5em;
      margin-top: 1em; }
      .fakePDF article#mainArticle h1 a, .fakePDF article#mainArticle h2 a, .fakePDF article#mainArticle h3 a, .fakePDF article#mainArticle h4 a, .fakePDF article#mainArticle h5 a, .fakePDF article#mainArticle h6 a {
        padding-top: 5rem;
        margin-top: -5rem; }
    .fakePDF article#mainArticle h1 {
      font-size: 2.5rem; }
    .fakePDF article#mainArticle h2 {
      font-size: 1.75rem;
      margin-top: 2.5em; }
    .fakePDF article#mainArticle h3 {
      font-size: 1.5rem; }
    .fakePDF article#mainArticle h4 {
      font-size: 1.125rem; }
    .fakePDF article#mainArticle h5 {
      font-size: 1rem; }
    .fakePDF article#mainArticle h6 {
      font-size: 1rem;
      color: var(--textColor-secondary); }
    .fakePDF article#mainArticle p {
      line-height: 1.5;
      margin: 0.5em 0; }
    .fakePDF article#mainArticle .mathjax-block {
      text-align: center;
      max-width: 100%;
      overflow: hidden;
      overflow-x: auto;
      margin: 1em; }
    .fakePDF article#mainArticle hr {
      border: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px dashed var(--color-border);
      margin: 1rem 0; }
    .fakePDF article#mainArticle h1 {
      text-align: center;
      font-style: italic; }
    .fakePDF article#mainArticle h2 {
      text-align: center;
      border-bottom: 1px dashed var(--color-border);
      padding-bottom: 1rem;
      font-style: italic;
      font-weight: normal; }
    .fakePDF article#mainArticle h4 {
      margin-top: 1em; }
      .fakePDF article#mainArticle h4::before {
        content: "s ";
        width: 1rem;
        position: absolute;
        margin-left: 0;
        opacity: 0;
        transition: 0.3s; }
      .fakePDF article#mainArticle h4:hover::before {
        transform: translate(-1rem);
        opacity: 1; }
    .fakePDF article#mainArticle figure {
      margin: 1rem 0; }
      .fakePDF article#mainArticle figure.small {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto; }
      .fakePDF article#mainArticle figure figcaption {
        font-size: 0.875rem;
        color: var(--textColor-secondary);
        text-align: center; }
