.fakePDF {
  background-color: #fafafa;

  article#mainArticle {
    background-color: white;
    max-width: 50rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    box-shadow:
      1px 1px 4px var(--color-border2),
      2px 2px 12px var(--color-border2);

    @include fontSetArticle();

    p {
      &.proofBegin {
        text-indent: 0;
        margin-top: 0.5em;
      }
    }

    strong {
      font-weight: bold;
      // font-style: italic;
      margin-right: 0.25em;
    }

    hr {
      border: none;
      margin: 0;
      padding: 0;
      // border-bottom: 1px dashed var(--color-border);
      // margin-top: 0.5rem;

      & + p {
        text-indent: 1.5em;
      }

      & + hr {
        margin-top: 0.5rem;
      }
    }

    h1 {
      text-align: center;
      font-style: italic;
    }

    h2 {
      text-align: center;
      border-bottom: 1px dashed var(--color-border);
      padding-bottom: 1rem;
      font-style: italic;
      font-weight: normal;
    }

    h4 {
      margin-top: 2em;
      // text-align: center;
    }

    figure {
      margin: 1rem 0;
      &.bordered {
        img {
          // border: 1px solid var(--color-border);
        }
      }

      &.small {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }

      figcaption {
        font-size: 0.875rem;
        color: var(--textColor-secondary);
        text-align: center;
      }
    }
  }
}
